<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!--My Stylesheet-->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/Styles.css') }}" media="screen"/>
   
   <title>Class Update Page</title>

   <!--Menu Bar adapted from source:
   https://www.w3schools.com/howto/howto_js_topnav.asp-->
   <div class="topnav">
      <ul>
         <a href="/index">Students</a>
         <a href="/Houses">Houses</a>
         <a href="/Professors">Professors</a>
         <a href="/Classes">Classes</a>
         <a href="/Registrations">Registrations</a>
      </ul>
    </div>
    <br>
    <h1><strong><center>Update Class</center></strong></h1>
</head>
<body>
   <form class="edit" action ='/update_classes/{{ classes[0] }}' method = "post">
         <fieldset>
            <legend>Update Class Data</legend>
            <fieldset>
               <label>*Class Title:
                  <input type="text" name="class_title_input" size="30" maxlength="100" value = '{{ classes[1] }}' required>
               </label>
               <br />
            </fieldset>
            <br />
            <fieldset>
               <label>*Class Credits:
                  <input type="number" name="class_credits_input" size="30" maxlength="100" value = '{{ classes[2] }}' required>
               </label>
               <br />
            </fieldset>
            <br />
            <fieldset>
               <label>*Professor ID:
                  <input type="number" name="class_professor_input" size="30" maxlength="100" value = '{{ classes[3] }}' required>
               </label>
               <br />
            </fieldset>
            <br />
            <button type="submit" value = "Submit">Submit</button>
         </fieldset>
   </form>
   
</body>
</html>