<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!--My Stylesheet-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/Styles.css') }}" media="screen"/>

   
   <title>Professor Update Page</title>

   <!--Menu Bar adapted from source:
   https://www.w3schools.com/howto/howto_js_topnav.asp-->
   <div class="topnav">
      <ul>
         <a href="/index">Students</a>
         <a href="/Houses">Houses</a>
         <a href="/Professors">Professors</a>
         <a href="/Classes">Classes</a>
         <a href="/Registrations">Registrations</a>
      </ul>
    </div>
    <br>
    <h1><strong><center>Update Professor</center></strong></h1>
</head>
<body>
   <form class="edit" action ='/update_professors/{{ professor[0] }}' method = "post">
      <fieldset>
         <legend>Update Professor Data</legend>
         <fieldset>
            <label>*First Name:
               <input type="text" name="first_name_input" size="30" maxlength="100" value = '{{ professor[1] }}' required>
            </label>
            <br />
         </fieldset>
         <br />
         <fieldset>
            <label>*Last Name:
               <input type="text" name="last_name_input" size="30" maxlength="100" value = '{{ professor[2] }}' required>
            </label>
            <br />
         </fieldset>
         <br />
         <fieldset>
              <label for="house_input">House:</label>
              <select id="house_input" name="house_input" required>
                <option value="None">No House</option>
                <option value="Gryffindor">Gryffindor</option>
                <option value="Slytherin">Slytherin</option>
                <option value="Ravenclaw">Ravenclaw</option>
                <option value="Hufflepuff">Hufflepuff</option>
              </select>
         </fieldset>
         <br />
         <button type="submit" value = "Submit">Submit</button>
      </fieldset>
   </form>
</body>
</html>