<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!--My Stylesheet-->
   <link rel="stylesheet" type="text/css" href="./css/styles.css" media="screen"/>
   
   <title>Class Update Page</title>

   <!--Menu Bar adapted from source:
   https://www.w3schools.com/howto/howto_js_topnav.asp-->
   <div class="topnav">
      <ul>
      <a class="active" href="index.html">Students</a>
      <a href="houses.html">Houses</a>
      <a href="professors.html">Professors</a>
      <a href="classes.html">Classes</a>
      <a href="registrations.html">Registrations</a>
      </ul>
    </div>
    <br>
    <h1><strong><center>Update Class</center></strong></h1>
</head>
<body>
      <form class="edit">
         <fieldset>
            <legend>Update Class Data</legend>
      
            <fieldset>
               <label>Class Title:
                  <input type="text" name="class_title_input" size="30" maxlength="100">
               </label>
               <br />
            </fieldset>
            <br />
      
            <fieldset>
               <label>Class Credits:
                  <input type="text" name="class_credits_input" size="30" maxlength="100">
               </label>
               <br />
            </fieldset>
            <br />
            <fieldset>
               <label>Professor:
                  <input type="text" name="class_professor_input" size="30" maxlength="100">
               </label>
               <br />
            </fieldset>
            <br />
            <button type="submit" formaction="classes.html">Submit</button>
         </fieldset>
      </form>
   
</body>
</html>